{% extends 'home/base.html' %}



{% block header %}
<div>
    <a href="{% url 'properties:add' %}" class="float-right btn btn-info">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z" />
            <path fill-rule="evenodd"
                d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z" />
        </svg>
        Add Property
    </a>
</div>


{% endblock header %}



{% block body %}

<div class="row">
    {% for property in properties %}

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">

        <div class="card bg-l mb-3 shadow-sm">
            <div class="bg-3 card-header shadow-sm">


                <div class="d-flex justify-content-between">
                    <h5 class="font-weight-normal">{{property}}</h5>
                    <h5 class="font-weight-normal">{{property.units.count}} Units</h5>
                </div>

                <div>

                    <div class="d-flex justify-content-between">
                        <small class="float-left">{{property.occupancy_rate}}% Occupied</small>
                        <small class="float-right">Vacant</small>
                    </div>
                    <h6></h6>

                    <div style="height: 5px;" class="progress mt-2">
                        <div style="width: {{property.occupancy_rate}}%;" class="progress-bar bg-primary"
                            role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>

            </div>

            <div class="card-body mb-n3">

                <div class="btn-group d-flex mb-2" role="group" aria-label="Basic example">
                    <a href="{% url 'properties:property' property.id %}" type="button" class="btn btn-outline-info">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-view-list" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z" />
                        </svg>
                        View Property
                    </a>
                </div>

                <div class="btn-group d-flex" role="group" aria-label="Basic example">
                    <a href="{% url 'properties:edit' property.id %}" type="button" class="btn btn-outline-info">Edit</a>
                    <!-- <a href="#" type="button" class="btn btn-outline-info">Middle</a>
                    <a href="#" type="button" class="btn btn-outline-info">Right</a> -->
                </div>

                <!-- <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the.</p> -->
                <hr>
                <h6 class="font-weight-normal mt-n2">Balance: <span
                        class="{% if property.balance %} text-danger font-weight-bold {% endif %}">{{property.balance}}</span>$
                </h6>

            </div>

        </div>

    </div>

    {% endfor %}
</div>





{% endblock body %}